# Ignore all legacy and build folders
Old codes/** linguist-generated
DerbotCodeWeUsedInComp/build/** linguist-generated
DerbotCodeWeUsedInComp/*.X/** linguist-generated
DerbotCodeWeUsedInComp/.X/** linguist-generated

# Ignore MPLAB/IDE build artifacts
*.elf linguist-generated
*.o linguist-generated
*.a linguist-generated
*.hex linguist-generated
*.cof linguist-generated
*.map linguist-generated
*.sdb linguist-generated
*.d    linguist-generated
*.lst  linguist-generated

# Optionally exclude backups or old zip/txt/doc files
*.zip linguist-generated
*.txt linguist-documentation
*.pdf linguist-documentation
